@media screen and (max-width: 767px) {
    .main-header-wrapper {
        top: 142px;
    }
    .hero-banner-wrapper {
        height: calc(100vh - 240px);
        background-position: center;
    }
    .why-choose-text-wrap {
        position: relative;
        padding: 0;
        margin-top: 50px;
    }
    .why-choose-wrapper {
        padding-top: 50px !important;
    }
    section.testimonials-wrapper,
    .faq-wrapper{
        margin-top: 50px;
    }
    footer.footer-wrapper {
        position: relative;
        padding: 50px 0;
        margin-top: 50px;
    }
    .testimonials-wrapper h1,
    .testimonials-wrapper p,
    .testimonials-wrapper h4,
    .testimonials-wrapper span{
        color: #fff !important;
    }
    section.testimonials-wrapper:after {
        position: absolute;
        content: '';
        background: #0000003d;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}